* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

table {
    width: 100%;
}

.td-info {
    border-bottom: none;
}

td {
    border-bottom: 1px solid rgb(220, 218, 218);
}

.content-td {
    width: 30%;
}

.cv-document {
    box-sizing: border-box;
    border: none;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: arial, sans-serif, tahoma;
    font-size: 10pt;
}

#logo {
    width: 113px;
    float: right;
}

/* .cv-document li,
#project li {
    display: inline-block;
} */

#info .section-content {
    float: left;
    width: 50%;
}

#target {
    clear: both;
}

#hobby li {
    display: list-item;
}


.li-boid {
    font-weight: bold;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    background-color: #fff;
    position: relative;
    padding: 40px
}
.section{
    padding-top:20px;
}
#target .section-title,
#education .section-title,
#experience .section-title,
#activity .section-title,
#skill .section-title,
#certificate .section-title,
#hobby .section-title,
#project .section-title {
    border-bottom: 1.5px solid black;
}

#info h1 {
    color:  #0e2452;
}

#info ul,
#education ul,
#experience ul,
#activity ul,
#skill ul,
#certificate ul {
    padding-left: 0px;
}

#hobby ul,
#project ul {
    padding-left: 10px;
}

.section-title {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.font-dam {
    font-weight: bold;
}
#contact a{
    text-decoration: none;
}
#contact ol{
    padding-left: 10px;
   
}